/* share tech mono */

/* regular 400 */ @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "share tech mono";
    color: green;
    background-color: black;
}
body{
    width: 1366px;
    margin: 0 auto;
}


/* === header start === */
.headerTitle{
    text-align: center;
}
.line{
    background-color: green;
    height: 5px;
}
.indexLink{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.indexLink:hover{
    background-color: green;
    color: black;
}
/* === header end === */


/* === grid section start === */
.grid{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.card{
    margin-bottom: 20px;
}
.cardImg{
    opacity: 75%;
}
.cardImg:hover{
    cursor: pointer;
    opacity: 100%;
}
/* === grid section end === */


/* === modal section start === */
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.modalContainer{
    width: 900px;
    height: 550px;
    padding: 10px;
    display: flex;
    border: 1px solid;
}
.modalImg{
    padding: 10px;
    height: 100%;
}
.modalInfoContainer{
    padding: 10px;
}
/* === modal section end === */


/* === list section start === */
.accordion:hover{
    background-color: green;
    color: black;
    cursor: pointer;
}
.listContainer{
    display: flex;
    flex-flow: row wrap;
}
.listImg, .listInfoContainer{
    width: 25%;
}
.listImg{
    margin-right: 10px;
}
.listInfoContainer{
    margin-inline: 10px;
}
/* === list section end === */

@media screen and (max-width: 1366px) {
    body{
        width: 375px;
    }
    .headerTitle{
        font-size: 100%;
    }


    /* === MOBILE Cards section start === */
    .card{
        width: 45%;
    }
    .cardImg{
        width: 100%;
    }
    /* === MOBILE Cards section end === */


    /* === MOBILE modal section start === */
    .modalContainer{
        width: 350px;
        height: fit-content;
    }
    .modalImg{
        display: none;
    }
    /* === MOBILE modal section end === */


    /* === MOBILE list section start === */
    .listInfoContainer, .listImg{
        width: 100%;
        margin: 0 0 20px 0;
    }
    /* === MOBILE list section end === */
}

.hidden{
    display: none;
}