/* share tech mono */

/* regular 400 */ @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "share tech mono";
    color: green;
    background-color: black;
}
body{
    width: 1366px;
    margin: 0 auto;
}


/* === header start === */
.headerTitle{
    text-align: center;
}
.line{
    background-color: green;
    height: 5px;
}
/* === header end === */


/* === menu section start === */
.menuSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.listItem{
    width: 33.3%;
    text-decoration: none;
}
.listItem:hover{
    background-color: green;
    color: black;
}
/* === menu section end === */


@media screen and (max-width: 1366px) {
    body{
        width: 375px;
    }
    .headerTitle{
        font-size: 100%;
    }
    .listItem{
        width: 100%;
    }
}